<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Aide - Stage BTS</title>
    <link rel="stylesheet" href="CSS/general.css">
</head>
<body>

<!-- Menu de navigation -->
<nav>
    <a href="index.php?action=Accueil" id="onglet_accueil" ><span>Accueil</span></a>
    <a href="index.php?action=Entreprise" id="onglet_entreprise"><span>Entreprise</span></a>
    <a href="index.php?action=Stagiaire" id="onglet_stagiaire"><span>Stagiaire</span></a>
    <a href="index.php?action=Inscrire" id="onglet_inscrire"><span>Inscription</span></a>
    <a href="index.php?action=Aide" id="onglet_aide" class="actif"><span>Aide</span></a>
    <a href="index.php?action=Deconnection" id="onglet_deconnection"><span>Déconnexion</span></a>

    <!-- Boutons pour réduire/développer le menu -->
    <div class="bottom">
        <a href="#" id="icon_droite"><span></span></a>
        <a href="#" id="icon_gauche"><span></span></a>
    </div>
</nav>

<div id="corps">
    <div class="container"> 
        <h2>Aide</h2>
        <h3>Entreprise</h3>
        <p><strong>Comment rechercher une entreprise ?</strong></p>
        <p>Si vous voulez rechercher une entreprise, allez sur la page "Entreprise".</p>
        <p><strong>Comment ajouter une entreprise ?</strong></p>
        <p>Utilisez le bouton "Ajouter".</p>
        <p><strong>Comment modifier les informations ?</strong></p>
        <p>Accédez aux options via l'icône d'édition.</p>
    </div>
</div>
</body>
</html>