<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Accueil - Stage BTS</title>
    <link rel="stylesheet" href="CSS/general.css">
</head>
<body>

<!-- Menu de navigation -->
<nav>
    <a href="index.php?action=Accueil" id="onglet_accueil" ><span>Accueil</span></a>
    <a href="index.php?action=Entreprise" id="onglet_entreprise"><span>Entreprise</span></a>
    <a href="index.php?action=Stagiaire" id="onglet_stagiaire"><span>Stagiaire</span></a>
    <a href="index.php?action=inscrireStage" id="onglet_inscrire"><span>Inscription</span></a>
    <a href="index.php?action=Aide" id="onglet_aide"><span>Aide</span></a>
    <a href="index.php?action=Deconnection" id="onglet_deconnection" class="actif"><span>Déconnexion</span></a>

    <!-- Boutons pour réduire/développer le menu -->
    <div class="bottom">
        <a href="#" id="icon_droite"><span></span></a>
        <a href="#" id="icon_gauche"><span></span></a>
    </div>
</nav>
<div id="corps">

    <div id="contenu">
        <article>
            <h2>êtes vous sur de vouloir vous deconnecter ?</h2>
            <p>
                aprés vous êtres déconnecter vous devrez vous reconnecter , c'est un peu relou nan ?
            </p>
            <a href="index.php?action=Accueilconnexion" id="onglet_accueil" ><button >OUI </button></a>
            <a href="index.php?action=Accueil" id="onglet_accueil" ><button >NON</button></a>

        </article>
    </div>
</div>


</body>
</html>
