<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Aide - Stage BTS</title>
    <link rel="stylesheet" href="CSS/general.css">
</head>
<body>

<!-- Menu de navigation -->
<nav>
    <a href="index.php?action=Accueil" id="onglet_accueil" ><span>Accueil</span></a>
    <a href="index.php?action=Entreprise" id="onglet_entreprise" class="actif"><span>Entreprise</span></a>
    <a href="index.php?action=Stagiaire" id="onglet_stagiaire"><span>Stagiaire</span></a>
    <a href="index.php?action=inscrireStage" id="onglet_inscrire"><span>Inscription</span></a>
    <a href="index.php?action=Aide" id="onglet_aide" ><span>Aide</span></a>
    <a href="index.php?action=Deconnection" id="onglet_deconnection"><span>Déconnexion</span></a>

    <!-- Boutons pour réduire/développer le menu -->
    <div class="bottom">
        <a href="#" id="icon_droite"><span></span></a>
        <a href="#" id="icon_gauche"><span></span></a>
    </div>
</nav>

<div id="corps">
    <form action="index.php?action=createEntreprise" method="POST">
        <div>
            <h3>Entrée</h3>
            <p>Nom de l'entreprise : <input type="text" name="raison_sociale" required></p>
            <p>Nom du contact : <input type="text" name="nom_contact" required></p>
            <p>Nom du responsable : <input type="text" name="nom_resp" required></p>
        </div>
        <div>
            <h3>Contact</h3>
            <p>Rue : <input type="text" name="rue_entreprise" required></p>
            <p>Code postal : <input type="text" name="cp_entreprise" required></p>
            <p>Ville : <input type="text" name="ville_entreprise" required></p>
            <p>Téléphone : <input type="text" name="tel_entreprise" required></p>
            <p>Fax : <input type="text" name="fax_entreprise"></p>
            <p>Email : <input type="email" name="email" required></p>
        </div>
        <div>
            <h3>Divers</h3>
            <p>Observation : <input type="text" name="observation"></p>
            <p>URL : <input type="text" name="site_entreprise"></p>
            <p>Niveau : <input type="text" name="niveau" required></p>
        </div>
        <div class="action">
            <button type="submit" class="btn btn-primary">Valider l'ajout</button>
        </div>
    </form>

</div>

</body>
</html>